# Python
*.pyc
__pycache__


# Distribution
dist
*.egg-info


# Manim rendering
media


# Development
.spyproject
*.ai

# Files the scenes can depend on (e.g. fonts)
dependencies

